# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Environment variables
.env
client/.env
server/.env
.env.local

# Logs
*.log
logs
*.log.*

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Build output
/dist
/client/dist

# Misc
response.json
server_log*.txt
test_api.js